body {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman";
}

/*A class for background image to be full window size*/
.backgroundImage {
    background-image: url("sea.png");
    background-size: cover;
    background-attachment: fixed;
}

/*Box types*/
/*Login page box*/
.login {
    background-color: rgba(201, 248, 255, 255);
    color: blue;
    height: 240px;
    width: 300px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border: 9px solid rgba(37, 97, 147, 255);
    padding: 10px;
    box-shadow: 5px 10px rgba(29, 74, 112, 255);
    border-radius: 3%;
}

/*Register page box for student and parent pages*/
.register {
    background-color: rgba(201, 248, 255, 255);
    color: blue;
    height: 460px;
    width: 300px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border: 9px solid rgba(37, 97, 147, 255);
    padding: 10px;
    box-shadow: 5px 10px rgba(29, 74, 112, 255);
    border-radius: 3%;
}

/*Register page box for teacher page*/
.registerTeacher {
    background-color: rgba(201, 248, 255, 255);
    color: blue;
    height: 400px;
    width: 300px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border: 9px solid rgba(37, 97, 147, 255);
    padding: 10px;
    box-shadow: 5px 10px rgba(29, 74, 112, 255);
    border-radius: 3%;
}

/*Home page box*/
.welcome {
    background-color: rgba(201, 248, 255, 255);
    color: black;
    font-size: 20px;
    height: 300px;
    width: 490px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border: 9px solid rgba(37, 97, 147, 255);
    padding: 10px;
    box-shadow: 5px 10px rgba(29, 74, 112, 255);
    border-radius: 3%;
}

/*Account page box*/
.accountBox {
    background-color: rgba(201, 248, 255, 255);
    color: black;
    font-size: 20px;
    height: 240px;
    width: 460px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border: 9px solid rgba(37, 97, 147, 255);
    padding: 10px;
    box-shadow: 5px 10px rgba(29, 74, 112, 255);
    border-radius: 3%;
}

/*Leaderboard page box*/
.leaderboardBox {
    background-color: rgba(201, 248, 255, 255);
    color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border: 9px solid rgba(37, 97, 147, 255);
    padding: 10px;
    box-shadow: 5px 10px rgba(29, 74, 112, 255);
    border-radius: 3%;
}

/*Error message box*/
.errorBox {
    background-color: rgba(201, 248, 255, 255);
    color: black;
    font-size: 26px;
    height: 80px;
    width: 240px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border: 9px solid rgba(37, 97, 147, 255);
    padding: 10px;
    box-shadow: 5px 10px rgba(29, 74, 112, 255);
    border-radius: 3%;
    font-weight: bold;
    text-align: center;

}

/*Box displayed on mobile version of the platform*/
.mobileBox {
    background-color: rgba(201, 248, 255, 255);
    color: black;
    font-size: 20px;
    height: 120px;
    width: 220px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border: 9px solid rgba(37, 97, 147, 255);
    padding: 10px;
    box-shadow: 5px 10px rgba(29, 74, 112, 255);
    border-radius: 3%;
}

/*An input field box*/
.inputField {
    padding: 0;
    margin: 10px;
    text-align: center;
}

/*A class used to display account information*/
.accountInfo {
    text-align: left;
    margin-left: 20px;
    padding-left: 10px;
    font-size: 26px;
    font-weight: bold;
}

.login a {
    color: black;
}

.login a:hover {
    color: blue;
}

.login input {
    width: 90%;
}

p {
    font-size: 30px;
    color: rgba(21, 56, 84, 255);
}

.button1 {
    background-color: rgba(0, 206, 20, 255);
    color: white;
    padding: 14px 20px;
    margin: 8px;
    border: none;
    cursor: pointer;
    width: 70%;
    border: 4px solid rgba(0, 142, 14, 255);
    padding: 10px;
    box-shadow: 4px 3px rgba(0, 51, 5, 255);
    border-radius: 5%;
    text-decoration: none;
}

.button1:hover {
    background-color: rgb(4, 194, 20);
}

/*Centers an element*/
.center {
    text-align: center;
}

input[type="text"],
input[type="password"] {
    border: 3px solid rgba(29, 74, 112, 255);
    width: 100%;
    height: 25px;
}


.header {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

.tableHeader {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding-right: 10px;
}


/*Dropdown button for the navigation bar*/
.dropdown {
    display: inline-block;
    position: relative;
    width: 160px;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    background-color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    font-size: 20px;
    color: black;
    padding: 5px;
    text-decoration: none;
}

.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}

button {
    border: none;
    height: 40px;
    font-size: 20px;
    background-color: transparent;
    cursor: grab;
    width: 160px;
}

button:hover {
    background-color: #00A4BD;
}

.nav {
    background-color: lightblue;
    width: 100%;
    height: 40px;
}

.navigationBarButton {
    width: 160px;
}

.nav a {
    display: inline-block;
    color: black;
    text-decoration: none;
    border: none;
    font-size: 20px;
    background-color: transparent;
    height: 40px;
    width: 93.5%;
    text-align: left;
}

.nav a:hover {
    background-color: #00A4BD;
}

.indexPaddingLeft {
    font-size: 26px;
    padding-right: 3px;
}

/*Changes index page Login button position*/
.indexLoginPosition {
    padding-top: 20px;
    position: relative;
}

/*Changes index page Register buttons position*/
.indexRegisterPosition {
    padding-top: 50px;
    position: relative;
}

.indexButtonAlign {
    padding-right: 28px;
}

.allignRight {
    text-align: right;
}

.button4 {
    padding: 12px 138px;
    background-color: rgba(0, 206, 20, 255);
    color: white;
    margin-left: 0;
    cursor: pointer;
    border: 4px solid rgba(0, 142, 14, 255);
    box-shadow: 4px 3px rgba(0, 51, 5, 255);
    border-radius: 5%;
    text-decoration: none;
}

.button4:hover {
    background-color: rgb(4, 194, 20);
}

.mobile {
    display: none;
}

@media screen and (max-width: 816px) {

    .computer {
        display: none;
    }

    .mobile {
        display: block;
    }
}

/*Computer version game display style*/
.computerGame {
    display: block;
}

/*Mobile version game display style*/
.mobileGame {
    display: none;
}

/*Enters mobile version*/
@media screen and (max-width: 960px), screen and (max-height: 720px) {

    .computerGame {
        display: none;
    }

    .mobileGame {
        display: block;
    }
}