{% extends "base.html" %}

{% block content %}

    <div class="welcome">
        <div class="center">
            <h1>
                About Our Website
            </h1>
            <h5>
                Created by 'Virtual Environmentalists', this website aims to engage students in learning about the
                United Nations Sustainable Development Goal number 14 - protection of life below the water. Students
                can play educational games and learn about the destruction of natural marine habitats and ecosystems.
                <br><br>
                It is so important to engage young people in protecting our oceans, as oceans cover three quarters of
                the Earth’s surface, contain 97% of the Earth’s water, and represent 99% of the living space on the
                planet by volume.

            </h5>

        </div>
    </div>

{% endblock %}