<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>



<body class="backgroundImage">
    <div class="computer">
        <div class="nav allignRight">

        {% if current_user.is_authenticated %}
          <div class="dropdown">
                <form action="{{ url_for('games.turtleGame') }}">
                    <button type="submit" >Turtle swim</button>
                </form>
          </div>

        <div class="dropdown">
            <form action="{{ url_for('games.pollutionGame') }}">
                <button type="submit" >Pollution game</button>
            </form>
        </div>
            <div class="dropdown">
                <form action="{{ url_for('students.account') }}">
                    <button type="submit" >Home page</button>
                </form>
            </div>

            <div class="dropdown">
                <form action="{{ url_for('students.logout') }}">
                    <button type="submit" >Logout</button>
                </form>
            </div>
        {% endif %}


        {% if not current_user.is_authenticated %}
            <div class="dropdown">
                <form action="{{ url_for('students.index') }}">
                    <button type="submit" >Home page</button>
                </form>
            </div>

            <div class="dropdown">
                <form action="{{ url_for('students.login') }}">
                    <button class="loginSize" type="submit" >Login</button>
                </form>
            </div>

            <div class="dropdown">
                <button class="registerSize">Register</button>
                <div class="dropdown-content">
                    <a href="{{ url_for('students.studentRegister') }}">Student register</a>
                    <a href="{{ url_for('students.teacherRegister') }}">Teacher register</a>
                    <a href="{{ url_for('students.parentRegister') }}">Parent register</a>
                </div>
            </div>
        {% endif %}

        </div>

        {% block content %}
        {% endblock %}

    </div>

    <div class="mobile">
        <div class="mobileBox">
            <h2 class="center">
                Sorry this page is not mobile compatible
            </h2>
        </div>
    </div>

</body>


</html>