<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>



<body class="backgroundImage">

<div class="nav">


    <div class="dropdown">
        <form action="{{ url_for('students.turtleGame') }}">
            <button type="submit" >Turtle swim</button>
        </form>
    </div>


    <div class="dropdown">
        <button class="loginSize">Login</button>
        <div class="dropdown-content">
            <a class="loginLink" href="{{ url_for('students.login') }}">Student login</a>
            <a class="loginLink" href="{{ url_for('students.login') }}">Teacher login</a>
            <a class="loginLink" href="{{ url_for('students.login') }}">Parent login</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="registerSize">Register</button>
        <div class="dropdown-content">
            <a class="loginLink" href="{{ url_for('students.register') }}">Student register</a>
            <a class="loginLink" href="{{ url_for('students.register') }}">Teacher register</a>
            <a class="loginLink" href="{{ url_for('students.register') }}">Parent register</a>
        </div>
    </div>
</div>

{#<nav>#}
{#    <ul>#}
{#        <li><a href="#">Login</a>#}
{#            <ul>#}
{#                <li><a href="#">Teacher</a></li>#}
{#                <li><a href="#">Parent</a></li>#}
{#                <li><a href="#">Student</a></li>#}
{#            </ul>#}
{#        </li>#}
{#        <li><a href="#">Register</a></li>#}
{#        <li><a href="#">Game</a></li>#}
{#    </ul>#}
{#</nav>#}

{#        <nav>#}
{#            <ul class="topnav">#}
{#                <li class="topnav-right">#}
{#                    <a href="{{ url_for('students.register') }}" class="navbar-item">Register</a>#}
{#                </li>#}
{##}
{#                <li class="topnav-right">#}
{#                    <div class="loginDropdown">#}
{#                        <a href="{{ url_for('students.login') }}" class="navbar-item dropdown">Login</a>#}
{#                            <a class="loginLink" href="{{ url_for('students.login') }}">Link 1</a>#}
{#                            <a class="loginLink" href="{{ url_for('students.login') }}">Link 2</a>#}
{#                            <a class="loginLink" href="{{ url_for('students.login') }}">Link 3</a>#}
{#                    </div>#}
{#                </li>#}
{##}
{#                <li>#}
{#                    <a href="{{ url_for('students.turtleGame') }}" class="navbar-item" >Turtle Swim </a>#}
{#                </li>#}
{##}
{#                <li><a href="#" class="navbar-item" >Game option #2</a></li>#}
{#            </ul>#}
{#        </nav>#}

    {% block content %}
    {% endblock %}

</body>

</html>