{% extends "base.html" %}

{% block content %}

    <div class="welcome">
        <h1 class="horizontalAlign">
            Welcome to your Virtual Environment!
        </h1>

        <div class="welcomeLoginHeight">
            <b class="homeOffer buttonAllign">User login</b>
            <a class="button4" href="{{ url_for('students.login') }}">Login</a>
        </div>

        <div class="welcomeRegisterHeight">
            <b class="homeOffer">Register as:</b>
            <a class="button3" href="{{ url_for('students.studentRegister') }}">Student</a>
            <a class="button3" href="{{ url_for('students.teacherRegister') }}">Teacher</a>
            <a class="button3" href="{{ url_for('students.parentRegister') }}">Parent</a>
        </div>
    </div>
{% endblock %}