{% extends "base.html" %}

{% block content %}

    <div class="welcome">
        <h1>
            Welcome to { to be decided }
        </h1>

        <div class="welcomeLoginHeight">
            <b class="homeOffer buttonAllign">Login as:</b>
            <a class="button3" href="{{ url_for('students.login') }}">Student</a>
            <a class="button3" href="{{ url_for('students.login') }}">Teacher</a>
            <a class="button3" href="{{ url_for('students.login') }}">Parent</a>
        </div>

        <div class="welcomeRegisterHeight">
            <b class="homeOffer">Register as:</b>
            <a class="button3" href="{{ url_for('students.studentRegister') }}">Student</a>
            <a class="button3" href="{{ url_for('students.teacherRegister') }}">Teacher</a>
            <a class="button3" href="{{ url_for('students.parentRegister') }}">Parent</a>
        </div>
    </div>
{% endblock %}