{% extends "base.html" %}

{% block content %}

    <div class="welcome">
        <h1 class="center">
            Welcome to your Virtual Environment!
        </h1>

        <div class="indexLoginPosition">
            <b class="indexPaddingLeft indexButtonAlign">User login</b>
            <a class="button4" href="{{ url_for('students.login') }}">Login</a>
        </div>

        <div class="indexRegisterPosition">
            <b class="indexPaddingLeft">Register as:</b>
            <a class="button1" style="padding-right: 20px" href="{{ url_for('students.student_register') }}">Student</a>
            <a class="button1" style="padding-right: 20px" href="{{ url_for('students.teacher_register') }}">Teacher</a>
            <a class="button1" style="padding-right: 20px" href="{{ url_for('students.parent_register') }}">Parent</a>
        </div>
    </div>
{% endblock %}