{% extends "base.html" %}

{% block content %}

    <div class="login">
        <p class="inputField" id='name'><b>Login</b></p>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}

        <form method="POST">
            <div class="inputField">
                {{ form.csrf_token() }}
                {{ form.username(class="input", placeholder="Username") }}
                {% for error in form.username.errors %}
                    {{ error }}
                {% endfor %}
            </div>

            <div class="inputField">
                {{ form.password(class="input", placeholder="Password") }}
                {% for error in form.password.errors %}
                    {{ error }}
                {% endfor %}
            </div>
            <div class="center">
                {{ form.submit(class="button1") }}
            </div>
        </form>
    </div>
{% endblock %}