{% extends "base.html" %}

{% block content %}

    <div class="register">
        <p class="loginfield" id='name' ><b>Student register</b></p>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="notification is-danger">
                        {{ messages[0] }}. Go to <a href="{{ url_for('students.login') }}">login page</a>.
                    </div>
                {% endif %}
            {% endwith %}

            <form method="POST">
                <div class="loginfield">
                    {{ form.csrf_token() }}
                    {{ form.username(class="input", placeholder="Username") }}
                    {% for error in form.username.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
                <div class="loginfield">
                    {{ form.firstname(class="input", placeholder="First Name") }}
                    {% for error in form.firstname.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
                <div class="loginfield">
                    {{ form.lastname(class="input", placeholder="Last Name") }}
                    {% for error in form.lastname.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
                <div class="loginfield">
                    {{ form.password(class="input", placeholder="Password") }}
                    {% for error in form.password.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
                <div class="loginfield">
                    {{ form.confirm_password(class="input", placeholder="Confirm Password") }}
                    {% for error in form.confirm_password.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
                <div class="loginfield">
                    {{ form.sic(class="input", placeholder="SIC (School Individual Code") }}
                    {% for error in form.sic.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
                <div class="loginfield">
                    {{ form.teacher_id(class="input", placeholder="Teacher ID") }}
                    {% for error in form.teacher_id.errors %}
                        {{ error }}
                    {% endfor %}
                </div>

                <div class="center">
                    {{ form.submit(class="button1") }}
                </div>
            </form>
        </div>

{% endblock %}